/*========================================================
                        Camera
=========================================================*/
.camera_container {
  position: relative;
  padding-bottom: 38.33333%;
}

@media (max-width: 782.6087px) {
  .camera_container {
    padding-bottom: 300px;
  }
}
.camera_wrap {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  margin-bottom: 0 !important;
  height: 100%;
  background: #fff;
  z-index: 0;
}

.camera_wrap img {
  max-width: none !important;
}

.camera_fakehover {
  height: 100%;
  min-height: 60px;
  position: relative;
  width: 100%;
}

.camera_src {
  display: none;
}

.cameraCont, .cameraContents {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
}

.cameraSlide {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.cameraContent {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
}

.camera_target {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  text-align: left;
  z-index: 0;
}

.camera_overlayer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 0;
}

.camera_target_content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: visible;
  z-index: 2;
}

.camera_loader {
  background: #fff url(../images/camera-loader.gif) no-repeat center;
  border: 1px solid #ffffff;
  border-radius: 18px;
  height: 36px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  margin: -18px 0 0 -18px;
  top: 50%;
  width: 36px;
  z-index: 3;
}

.camera_nav_cont {
  height: 65px;
  overflow: hidden;
  position: absolute;
  right: 9px;
  top: 15px;
  width: 120px;
  z-index: 4;
}

.camerarelative {
  overflow: hidden;
  position: relative;
}

.imgFake {
  cursor: pointer;
}

.camera_command_wrap .hideNav {
  display: none;
}

.camera_command_wrap {
  left: 0;
  position: relative;
  right: 0;
  z-index: 4;
}

.showIt {
  display: none;
}

.camera_clear {
  clear: both;
  display: block;
  height: 1px;
  margin: -1px 0 25px;
  position: relative;
}

.camera_caption {
  display: none;
}

.cameraContent .camera_caption {
  display: block;
}

/*================   Custom Layout&Styles   =====================*/
.camera_caption {
  padding-top: 64px;
  position: absolute;
  bottom: -96px;
  left: 50%;
  min-width: 1170px;
  background: #fff;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.camera_caption > div {
  height: 100%;
}
.camera_caption h3 {
  text-transform: uppercase;
}
.camera_caption p {
  font-size: 24px;
  line-height: 36px;
  color: #222431;
  font-family: "Roboto Slab", serif;
  padding: 0 100px;
}
.camera_caption .btn {
  font-family: "Roboto Slab", serif;
  color: #fff;
  background: #21706d;
  padding: 17px 45px 17px 50px;
  border-radius: 30px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  text-decoration: none;
}
.camera_caption .btn:hover {
  color: #fff;
  background: #cdcdce;
}
.camera_caption .btn:active {
  color: #fff;
  background: #b3b3b5;
}
.camera_caption .link_wr {
  display: inline-block;
}
.camera_caption .link_wr .btn_mod1 {
  background: #222431;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 17px 50px 17px 58px;
}
.camera_caption .link_wr .btn_mod1:hover {
  color: #fff;
  background: #c5c5c5;
}
.camera_caption .link_wr .btn_mod1:active {
  color: #fff;
  background: #acacac;
}
.camera_caption .link_wr .btn_mod2 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 17px 48px 17px 50px;
}
.camera_caption * + p {
  margin-top: 17px;
}
.camera_caption * + .btn {
  margin-top: 0;
}
.camera_caption .link_wr + .btn {
  margin-left: 35px;
}
.camera_caption * + .wr {
  margin-top: 50px;
}

.camera_pag {
  margin-top: -169px;
}
.camera_pag_ul {
  text-align: center;
}
.camera_pag_ul li {
  display: inline-block;
  width: 13px;
  height: 13px;
  line-height: 13px;
  text-align: center;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #222431;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.camera_pag_ul li.cameracurrent, .camera_pag_ul li:hover {
  background: #cdcdce;
}
.camera_pag_ul li + li {
  margin-left: 13px;
}
.camera_pag_ul li > span {
  display: none;
}

@media (max-width: 1199px) {
  .camera_pag {
    margin-top: 20px;
  }

  .camera_caption {
    min-width: 0;
    width: 100%;
    bottom: -292px;
  }
}
@media (max-width: 911px) {
  .camera_caption {
    bottom: -330px;
  }
}
@media (max-width: 780px) {
  .camera_pag {
    display: none;
  }

  .camera_caption .link_wr {
    display: block;
  }

  .camera_caption .link_wr + .btn {
    margin-left: 0;
    margin-top: 10px;
  }
}
@media (max-width: 479px) {
  .camera_caption .link_wr {
    margin: 0 20px;
  }
  .camera_caption p {
    display: none;
  }
  .camera_caption .link_wr .btn_mod1, .camera_caption .link_wr .btn_mod2 {
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
  }
  .camera_caption .link_wr * + .btn {
    margin-top: 10px;
  }
}
