@import url(animate.css);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Roboto+Slab:400,300,700|Roboto);
@import url('../fonts/circular-std/css/circular-std.css');
/*========================================================
                      Main Styles
=========================================================*/
.styleswitcher{
  display: none;
}
body {
  color: #cdcdce;
  font: 400 14px/20px "Roboto", sans-serif;
  -webkit-text-size-adjust: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  color: #222431;
}

h1 {
  font-size: 48px;
  line-height: 50px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}

h2 {
  font-size: 48px;
  line-height: 50px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  font-weight: 300;
}

h3 {
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
h3 span {
  font-weight: 300;
}

h4 {
  font-size: 20px;
  line-height: 22px;
}

h5 {
  font-size: 18px;
  line-height: 30px;
}

h6 {
  font-size: 14px;
  line-height: 20px;
  /*font-family: "Roboto", serif;*/
  font-weight: 400;
}

p a:hover, .terms-list dd a:hover, .marked-list a:hover, .list a:hover {
  text-decoration: underline;
}
p .fa, .terms-list dd .fa, .marked-list .fa, .list .fa {
  text-decoration: none;
}

time {
  display: block;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a:focus {
  outline: none;
}
a:active {
  background-color: transparent;
}

hr {
  display: inline-block;
  height: 13px;
  width: 133px;
  margin: 0;
  border: none;
  background: #e25576;
}

a[href^="tel:"],
a[href^="callto:"] {
  color: inherit;
  text-decoration: none;
}

strong {
  font-weight: 700;
}

.fa {
  line-height: inherit;
}

.center {
  text-align: center;
}

.img_add {
  margin-top: 5px;
}

.img_add2 {
  margin-top: -25px;
}

.primary-color {
  color: #e25576;
}
.primary-color a:hover {
  color: #222431;
}

.secondary-color {
  color: #222431;
}

[class*='fa-']:before {
  font-weight: 400;
  font-family: "FontAwesome";
}

.page {
  overflow: hidden;
  min-height: 500px;
}
.lt-ie9 .page {
  min-width: 1200px;
}

.off {
  margin-top: -5px;
}

@media (max-width: 991px) {
  .clr {
    clear: both;
  }
}
/*.border {*/
/*  position: relative;*/
/*}*/
/*.border:before {*/
/*  content: '';*/
/*  position: absolute;*/
/*  width: 3000px;*/
/*  left: -100%;*/
/*  right: 0;*/
/*  height: 1px;*/
/*  background: #e3e3e3;*/
/*  bottom: -174px;*/
/*}*/

/*=======================================================
                       Main Layout
=========================================================*/
* + .row {
  margin-top: 15px;
}

* + .row.offset {
  margin-top: 0;
}

* + .row.offset2 {
  margin-top: 5px;
}

* + .row.offset3 {
  margin-top: 22px;
}

* + .btn {
  margin-top: 32px;
}

* + .btn2 {
  margin-top: 62px;
}

* + .index-list {
  margin-top: 29px;
}

* + .box {
  margin-top: 17px;
}

* + hr {
  margin-top: 35px;
}

* + h2 {
  margin-top: 47px;
}

* + h2.offset {
  margin-top: 26px;
}

* + .img_wr {
  margin-top: 40px;
}

* + .thumb {
  margin-top: 36px;
}

* + .music-list {
  margin-top: 12px;
}

* + .terms-list {
  margin-top: 41px;
}

* + .music-list_mod1 {
  margin-top: 42px;
}

* + .genres-list {
  margin-top: 22px;
}

.custom-list + h6 {
  margin-top: 20px;
}

.genres-list + h3 {
  margin-top: 40px;
}

h3 + .box {
  margin-top: 30px;
}

h3 + h6 {
  margin-top: 30px;
}

.thumb + h6 {
  margin-top: 24px;
}

.box + .btn {
  margin-top: 8px;
}

.index-list + .btn {
  margin-top: 12px;
}

.img_wr + h6 {
  margin-top: 25px;
}

/*=======================================================
                        Components
=========================================================*/
/*==================     Brand     ======================*/
.brand {
  display: inline-block;
}
.brand_name {
  overflow: hidden;
  /*margin-top: 30px;*/
  color: #fff;
  font-size: 20px;
}
.brand_slogan {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 5.6px;
  font-family: "Roboto Slab", serif;
  margin-top: 15px;
}

/*==================  Custom List  ======================*/
.custom-list li a:hover {
  color: #222431;
}

/*==================  Backgrounds  ======================*/
.bg-primary {
  background: #202230;
  -webkit-background-size: cover;
  background-size: cover;
}
.bg-primary h2, .bg-primary h3 {
  -moz-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
.bg-primary h2 {
  font-weight: 700;
  color: #fff;
}
.bg-primary h3 {
  display: block;
  color: #fff;
}
.bg-primary h3 span {
  display: block;
  font-weight: 300;
  color: #72758a;
  text-transform: capitalize;
}
.bg-primary hr {
  height: 5px;
  width: 55px;
  display: inline-block;
  background: #72758a;
}
.bg-primary * + hr {
  margin-top: 25px;
}
.bg-primary .wr:hover h2, .bg-primary .wr:hover h3 {
  color: #22706d;
}

.bg-secondary {
  background: url("../images/bg-secondary.jpg") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.bg-secondary h3 {
  color: #fff;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 1.5px;
}
.bg-secondary ul {
  margin-top: 23px;
}
.bg-secondary ul li a {
  color: #e25576;
  letter-spacing: 0;
}
.bg-secondary ul li a:hover {
  color: #fff;
}
.bg-secondary h3 + * {
  margin-top: 5px;
}
.bg-secondary * + .col-xs-12.col-sm-6.col-md-6 {
  margin-top: 0;
}
.bg-secondary * + .row {
  margin-top: 39px;
}
.bg-secondary * + .offset {
  margin-top: 20px;
}

.bg-secondary2 {
  background: #222431;
}
.bg-secondary2 h3 {
  color: #fff;
  font-weight: 300;
}
.bg-secondary2 .custom-list li a {
  font-family: "Roboto Slab", serif;
  color: #e25576;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
.bg-secondary2 .custom-list li a:hover {
  color: #fff;
}
.bg-secondary2 .custom-list li + li {
  margin-top: 10px;
}

@media (max-width: 479px) {
  .bg-secondary .row + .row, .bg-secondary .rpw + .offset {
    margin-top: 20px;
  }
  .bg-secondary .col-xs-6.col-sm-6.col-md-4 > .row,
  .bg-secondary .col-xs-12.col-sm-6.col-md-6 > .row,
  .bg-secondary .col-xs-12.col-sm-12.col-md-4 > .row {
    margin-top: 20px;
  }
  .bg-secondary h3:hover {
    cursor: pointer;
  }
  #mobile_charts{
    margin-top: 60px;
    position: relative;
    top: 210px;
    margin-bottom: 50%;
  }
}
/*==================    Buttons    ======================*/
.btn, .btn2 {
  display: inline-block;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}

.btn {
  color: #e25576;
  text-decoration: underline;
}
.btn:hover {
  color: #cdcdce;
}
.btn:active {
  color: #b3b3b5;
}

.btn2 {
  color: #fff;
  background: #f18d04;
  padding: 17px 50px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.btn2:hover {
  background: #222431;
}
.btn2:active {
  background: #0d0e13;
}

/*==================   Music List   ======================*/
.music-list {
  counter-reset: li;
}
.music-list li {
  position: relative;
  padding-left: 70px;
  padding-top: 22px;
  padding-bottom: 22px;
  -moz-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  border-bottom: 1px solid #e3e3e3;
}
.music-list li table {
  width: 100%;
}
.music-list li table tr > td {
  width: 37.5%;
}
.music-list li table tr > td + td {
  width: 29%;
}
.music-list li table tr > td + td + td {
  width: 17.5%;
}
.music-list li table .fa-floppy-o {
  margin-left: 4px;
}
.music-list li table .dlw-btn, .music-list li table .fa-caret-right {
  display: inline-block;
  height: auto;
  th: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #22706c;
  position: relative;
  float: right;
  -moz-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  text-align: center;
  padding: 10px;
  color: #fff;
}
.music-list li table .dlw-btn:before, .music-list li table .fa-caret-right:before {
  color: #fff;
  -moz-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  line-height: 22px;
}
.music-list li table .dlw-btn:hover, .music-list li table .fa-caret-right:hover {
  background: #222431;
}
.music-list li:before {
  position: absolute;
  content: counter(li,decimal-leading-zero) " /";
  counter-increment: li;
  color: #222431;
  top: 50%;
  left: 0;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.music-list li:hover {
  cursor: pointer;
  background: rgba(34, 36, 49, 0.03);
}
.lt-ie9 .music-list li:hover {
  background: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#08222431', endColorstr='#08222431')";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#08222431', endColorstr='#08222431');
  zoom: 1;
}

.music-list_mod1 li {
  padding: 0;
}
.music-list_mod1 li:first-child {
  border: none;
  padding: 0;
  margin: 0;
}
.music-list_mod1 li:first-child:first-child:before {
  display: none;
}
.music-list_mod1 li table {
  width: 100%;
}
.music-list_mod1 li table thead {
  border-bottom: 1px solid #e3e3e3;
}
.music-list_mod1 li table thead th {
  padding-bottom: 23px;
  text-align: center;
}
.music-list_mod1 li table tr > td,
.music-list_mod1 li table tr > td + td,
.music-list_mod1 li table tr > td + td + td {
  width: auto;
}
.music-list_mod1 li table tbody > tr > td {
  padding-top: 25px;
  padding-bottom: 25px;
}
.music-list_mod1 li table tbody > tr > td p, .music-list_mod1 li table tbody > tr > td .terms-list dd, .terms-list .music-list_mod1 li table tbody > tr > td dd {
  display: inline-block;
}
.music-list_mod1 li table tbody > tr > td img + p, .music-list_mod1 li table tbody > tr > td .terms-list img + dd, .terms-list .music-list_mod1 li table tbody > tr > td img + dd {
  margin-left: 27px;
}
.music-list_mod1 li table tbody > tr > td .fa-long-arrow-up, .music-list_mod1 li table tbody > tr > td .fa-long-arrow-down {
  position: relative;
}
.music-list_mod1 li table tbody > tr > td .fa-long-arrow-up:before, .music-list_mod1 li table tbody > tr > td .fa-long-arrow-down:before {
  position: absolute;
  color: #e25576;
  top: -2px;
  left: 30px;
}
.music-list_mod1 li table tbody > tr > td .fa-long-arrow-down:before {
  color: #6d78c9;
}
.music-list_mod1 li table .position {
  width: 8.5%;
  color: #222431;
}
.music-list_mod1 li table .lw {
  width: 8.5%;
}
.music-list_mod1 li table .artist {
  width: 26%;
}
.music-list_mod1 li table .title {
  width: 25.5%;
  text-align: center;
}
.music-list_mod1 li table .label {
  width: 17%;
  text-align: center;
}
.numbering{
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 3px;
  font-family: "Roboto Slab", serif;
  color: #222431;
  top: 26%;
}
.music-list_mod1 li:before {
  /*content: counter(li,decimal-leading-zero) "/";*/
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 3px;
  font-family: "Roboto Slab", serif;
  color: #222431;
  top: 26%;
  display: none;
}
.music-list_mod1 li:hover {
  background: rgba(226, 85, 118, 0);
}
.lt-ie9 .music-list_mod1 li:hover {
  background: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00E25576', endColorstr='#00E25576')";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00E25576', endColorstr='#00E25576');
  zoom: 1;
}
.music-list_mod1 .mod1:before {
  top: 42%;
}

@media (max-width: 991px) {
  .music-list_mod1 li table .artist {
    text-align: center;
  }

  .music-list_mod1 li table tbody > tr > td img + p, .music-list_mod1 li table tbody > tr > td .terms-list img + dd, .terms-list .music-list_mod1 li table tbody > tr > td img + dd {
    margin-left: 0;
    display: block;
  }

  .music-list_mod1 li table .label {
    width: 10%;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .music-list_mod1 li table .position {
    width: 13.5%;
  }
  .music-list_mod1 li table .title {
    width: 45.5%;
  }
  .music-list_mod1 li table .lw, .music-list_mod1 li table .label {
    display: none;
  }
  .music-list_mod1 li table .label + td {
    display: none;
  }
  .music-list_mod1 li table thead th.secondary-color {
    display: none;
  }
  .music-list_mod1 li table > tr > td + td + td + td {
    display: none;
  }
}
@media (max-width: 540px) {
  .music-list_mod1 li table thead {
    display: none;
  }

  .music-list li table .dlw-btn, .music-list li table .fa-caret-right {
    float: none;
    margin: 0;
    text-align: center;
    margin-top: 3px;
  }

  .music-list li {
    padding-left: 30px;
  }
  .music-list li table {
    width: 100%;
  }
  .music-list li table tr > td {
    padding-right: 5px;
  }
}
/*==================    Info List   ======================*/
.info-list li {
  display: inline-block;
  position: relative;
}
.info-list li:before {
  content: '/';
  position: absolute;
  right: -33px;
  top: 0;
  font-size: 30px;
  line-height: 47px;
  letter-spacing: 2.25px;
  text-transform: uppercase;
  color: #e25576;
}
.info-list li a {
  color: #e25576;
  letter-spacing: 2.25px;
  line-height: 47px;
}
.info-list li a:hover {
  color: #cdcdce;
}
.info-list li + li {
  margin-left: 55px;
}

@media (max-width: 767px) {
  .info-list li {
    display: block;
  }
  .info-list li + li {
    margin-left: 0;
    margin-top: 10px;
  }
}
/*==================   Genres List  ======================*/
.genres-list li a {
  color: #e25576;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1.4px;
  font-family: "Roboto Slab", serif;
}
.genres-list li a:hover {
  color: #222431;
}

/*==================   Index List  ======================*/
.index-list {
  counter-reset: li;
}
.index-list li {
  position: relative;
  padding-left: 60px;
  border-bottom: 1px solid #cdcdce;
  padding-bottom: 14px;
}
.index-list li:before {
  content: counter(li,decimal-leading-zero) "/";
  counter-increment: li;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #222431;
  position: absolute;
  left: 0;
  top: -3px;
  font-family: "Roboto Slab", serif;
  letter-spacing: 3px;
  -moz-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
.index-list li:last-child {
  border: none;
}
.index-list li:hover:before {
  color: #e25576;
}
.index-list li + li {
  margin-top: 15px;
}

/*==================    Wrapper    ======================*/
.custom_wr .wr {
  background: #222431;
  padding: 45px 35px 40px;
  -moz-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
.custom_wr .wr * {
  -moz-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
.custom_wr .wr time {
  font-family: "Roboto Slab", serif;
  line-height: 20px;
  letter-spacing: 1.4px;
  font-weight: 700;
  color: #fff;
}
.custom_wr .wr h3, .custom_wr .wr h6 {
  color: #fff;
  letter-spacing: 1.5px;
  text-transform: none;
}
.custom_wr .wr p, .custom_wr .wr .terms-list dd, .terms-list .custom_wr .wr dd {
  color: #72758a;
}
.custom_wr .wr hr {
  border: none;
  display: block;
  height: 5px;
  width: 55px;
  margin-left: auto;
  margin-right: auto;
  background: #72758a;
}
.custom_wr .wr * + p, .custom_wr .wr .terms-list * + dd, .terms-list .custom_wr .wr * + dd {
  margin-top: 25px;
}
.custom_wr .wr * + hr {
  margin-top: 23px;
}
.custom_wr .wr * + .btn {
  margin-top: 15px;
  color: #fff;
}
.custom_wr .wr * + .off {
  margin-top: 23px;
}
.custom_wr:hover .wr {
  background: #fff;
}
.custom_wr:hover .wr time {
  color: #222431;
}
.custom_wr:hover .wr h3 {
  color: #22706d;
}
.custom_wr:hover .wr h3 span {
  color: #22706d;
}
.custom_wr:hover .wr h6 {
  color: #222431;
}
.custom_wr:hover .wr p, .custom_wr:hover .wr .terms-list dd, .terms-list .custom_wr:hover .wr dd {
  color: #cdcdce;
}
.custom_wr:hover .wr hr {
  background: #222431;
}
.custom_wr:hover .wr .btn {
  color: #22706d;
}
.custom_wr:hover .wr .btn:hover {
  color: #22706d;
}
.custom_wr:hover .wr .btn:active {
  color: #22706d;
}

.custom_wr + .custom_wr {
  margin-top: 30px;
}

.artist_wr .row + .row .col-xs-2.col-sm-6.col-md-6, .artist_wr .row + .row .col-xs-3.col-sm-3.col-md-6 {
  margin-top: 10px;
}

.img_wr {
  position: relative;
}
.img_wr h6 {
  position: absolute;
  background: #e25576;
  text-transform: uppercase;
  bottom: 0;
  left: 0;
  padding: 7px 20px;
  color: #fff;
}

@media (max-width: 1199px) {
  .artist_wr .col-xs-12.col-sm-12.col-md-12 {
    text-align: center;
  }
}
@media (min-width: 991px) and (max-width: 1199px) {
  .img_wr h6 {
    left: 42px;
  }
}
@media (max-width: 991px) {
  .main_wr .custom_wr img {
    width: 100%;
  }
}
@media (min-width: 767px) and (max-width: 800px) {
  .img_wr img {
    max-width: 90%;
  }
  .img_wr h6 {
    left: 18px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #brand_img_logo{
    width: 100px !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #brand_img_logo{
    width: 100px !important;
  }
}
@media (max-width: 479px) {
  .custom_wr img {
    width: 100%;
  }

  .img_wr img {
    width: 100%;
  }
  #mobile_first_Add{
    top: 247px;
    position: relative;
    padding: 75px 0px;
    margin-top: 0px !important;
  }
  #brand_img_logo{
    width: 100px !important;
    display: none;
  }
}
/*================  Terms List  ======================*/
.terms-list dt {
  font-family: "Roboto Slab", serif;
  letter-spacing: 1.4px;
  font-weight: 700;
  color: #222431;
}
.terms-list * + dd {
  margin-top: 26px;
}
.terms-list * + dt {
  margin-top: 42px;
}
.terms-list dd > a {
  display: inline-block;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
  letter-spacing: 1.4px;
  margin-top: 42px;
  color: #e25576;
}
.terms-list dd > a:hover {
  color: #222431;
}

/*==================      Box      ======================*/
.box {
  border-bottom: 1px solid #cdcdce;
}
.box:before, .box:after {
  display: table;
  content: "";
  line-height: 0;
}
.box:after {
  clear: both;
}
.box p, .box .terms-list dd, .terms-list .box dd, .box time {
  -moz-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
.box_aside {
  float: left;
  font: 700 48px/48px "Roboto Slab", serif;
  color: #222431;
  letter-spacing: 3.6px;
}
.box_cnt__no-flow {
  overflow: hidden;
  padding-left: 20px;
  padding-bottom: 18px;
}
.box:hover p, .box:hover .terms-list dd, .terms-list .box:hover dd, .box:hover time {
  color: #e25576;
}

.box_mod1 {
  border: none;
}

@media (max-width: 991px) {
  .box_cnt__no-flow {
    padding-top: 25px;
  }
  .box_aside {
    margin-bottom: 10px;
  }
}
@media (max-width: 479px) {
  .box_cnt__no-flow {
    padding-top: 5px;
  }
  .box_aside {
    margin-bottom: 5px;
  }
}
/*========================   Menu   ==========================*/
.sf-menu {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
  letter-spacing: 2.8px;
}
.sf-menu:before, .sf-menu:after {
  display: table;
  content: "";
  line-height: 0;
}
.sf-menu:after {
  clear: both;
}
.sf-menu > li {
  position: relative;
  float: left;
}
.sf-menu > li:before {
  content: '';
  position: absolute;
  height: 1px;
  width: 34px;
  top: 10px;
  right: -55px;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  background: #dddbce;
}
.sf-menu > li:last-child:before {
  display: none;
}
.sf-menu > li + li {
  margin-left: 83px;
}
.sf-menu a {
  display: block;
}

.sf-menu > li > a {
  color: #fff;
}
.sf-menu > li.sfHover > a, .sf-menu > li > a:hover {
  color: #cdcdce;
}
.sf-menu > li.active > a {
  color: #cdcdce;
}

.sf-menu ul {
  display: none;
  position: absolute;
  top: 180%;
  left: -90px;
  width: 250px;
  margin-top: 10px;
  padding: 10px 0 10px;
  background: #FFF;
  z-index: 2;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #222431;
}
.sf-menu ul li a {
  padding: 5px 2px;
}

.sf-menu ul > li > a {
  color: #FFF;
  background: #222431;
}
.sf-menu ul > li.sfHover > a, .sf-menu ul > li > a:hover {
  color: #FFF;
  background: #e1a34b;
}

.sf-menu ul ul {
  position: static;
  top: 100%;
  width: auto;
  margin-top: 10px;
  z-index: 4;
  margin-left: 20px;
  border-left: 5px solid #e25576;
  text-align: left;
  text-transform: none;
}
.sf-menu ul ul li a {
  padding-left: 20px;
}

.sf-menu ul ul > li > a {
  color: #FFF;
  background: #222431;
}
.sf-menu ul ul > li.sfHover > a, .sf-menu ul ul > li > a:hover {
  color: #e25576;
  background: transparent;
}

@media (max-width: 767px) {
  .sf-menu {
    display: none;
  }
}
/*==================   RD Mobile Menu    =====================*/
.rd-mobilemenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999999;
  text-align: left;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.rd-mobilemenu.active {
  right: 0;
}

.rd-mobilemenu_ul {
  position: fixed;
  top: -56px;
  left: 0;
  bottom: -56px;
  width: 240px;
  padding: 132px 0 76px;
  color: #666;
  background: #FFF;
  font-size: 14px;
  line-height: 20px;
  overflow: auto;
  -webkit-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  -moz-transform: translateX(-240px);
  -ms-transform: translateX(-240px);
  -o-transform: translateX(-240px);
  -webkit-transform: translateX(-240px);
  transform: translateX(-240px);
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -moz-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
.rd-mobilemenu.active .rd-mobilemenu_ul {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.rd-mobilemenu_ul a {
  display: block;
  padding: 14px 25px 16px;
}
.rd-mobilemenu_ul a.active {
  background: #f5f5f5;
  color: #2d2d2d;
}
.rd-mobilemenu_ul a:hover {
  background: #f18d04;
  color: #FFF;
}
.rd-mobilemenu_ul a .rd-submenu-toggle {
  position: absolute;
  top: 50%;
  right: 11px;
  margin-top: -17.5px;
  width: 32px;
  height: 32px;
  font: 400 10px "FontAwesome";
  line-height: 32px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  z-index: 1;
  background: rgba(0, 0, 0, 0.1);
}
.rd-mobilemenu_ul a .rd-submenu-toggle:after {
  content: '\f078';
}
.rd-mobilemenu_ul a .rd-submenu-toggle:hover {
  background: #FFF;
  color: #666;
}
.rd-mobilemenu_ul a.rd-with-ul {
  position: relative;
}
.rd-mobilemenu_ul a.rd-with-ul.active .rd-submenu-toggle {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rd-mobilemenu_ul ul a {
  padding-left: 40px;
}
.rd-mobilemenu_ul ul ul a {
  padding-left: 60px;
}
.rd-mobilemenu_ul:after {
  content: '';
  display: block;
  height: 20px;
}

.rd-mobilepanel {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  background: #FFF;
  color: #000;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  z-index: 99999991;
}
.rd-mobilepanel * + h2 {
  margin-top: 0;
}

.rd-mobilepanel_title {
  position: fixed;
  top: 4px;
  left: 56px;
  right: 56px;
  color: #000;
  font-size: 24px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rd-mobilepanel_toggle {
  position: fixed;
  top: 4px;
  left: 8px;
  width: 48px;
  height: 48px;
}
.rd-mobilepanel_toggle span {
  position: relative;
  display: block;
  margin: auto;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.rd-mobilepanel_toggle span:after, .rd-mobilepanel_toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.rd-mobilepanel_toggle span:after {
  top: 8px;
}
.rd-mobilepanel_toggle span:after, .rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span {
  width: 24px;
  height: 4px;
  background-color: #000;
  backface-visibility: hidden;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.rd-mobilepanel_toggle span {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span:after {
  -moz-transform-origin: 1.71429px center;
  -ms-transform-origin: 1.71429px center;
  -o-transform-origin: 1.71429px center;
  -webkit-transform-origin: 1.71429px center;
  transform-origin: 1.71429px center;
  -moz-transform-origin: 1.71429px center;
  -ms-transform-origin: 1.71429px center;
  -o-transform-origin: 1.71429px center;
  -webkit-transform-origin: 1.71429px center;
  transform-origin: 1.71429px center;
}
.rd-mobilepanel_toggle.active span {
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.rd-mobilepanel_toggle.active span:before, .rd-mobilepanel_toggle.active span:after {
  top: 0;
  width: 15px;
}
.rd-mobilepanel_toggle.active span:before {
  -webkit-transform: rotate3d(0, 0, 1, -40deg);
  transform: rotate3d(0, 0, 1, -40deg);
}
.rd-mobilepanel_toggle.active span:after {
  -webkit-transform: rotate3d(0, 0, 1, 40deg);
  transform: rotate3d(0, 0, 1, 40deg);
}

@media (max-width: 767px) {
  body {
    padding-top: 56px;
  }

  .rd-mobilemenu, .rd-mobilepanel {
    display: block;
  }
  #promoted_song{
    margin-top: 145px !important;
  }
  #promoted_song_picture{
    display: none;
  }
  #promoted_song_icon{
    margin-top: 15px;
  }
}
@media (max-width: 359px) {
  .rd-mobilepanel_title {
    font-size: 18px;
  }
}
/*==================  Stuck menu  ======================*/
.stuck_container {
  padding-top: 60px;
  padding-bottom: 48px;
}

.isStuck {
  background: #21706d;
  z-index: 999;
  border-bottom: 1px solid #222431;
  padding: 20px 0;
}

@media only screen and (max-width: 979px) {
  .isStuck {
    display: none !important;
  }
}
/*==================     ToTop     ======================*/
.toTop {
  width: 50px;
  height: 50px;
  font-size: 24px;
  line-height: 46px;
  color: #fff;
  background: #222431;
  border-radius: 50%;
  -webkit-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
  position: fixed;
  right: 40px;
  bottom: 140px;
  display: none;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  z-index: 20;
}
.toTop:hover {
  color: #fff;
  background: #e25576;
  text-decoration: none;
}

.mobile .toTop,
.tablet .toTop {
  display: none !important;
}

/*==================   Thumbnail    ======================*/
.thumb {
  display: block;
  position: relative;
  overflow: hidden;
}
.thumb img {
  width: 100%;
  height: auto;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.thumb h6 {
  position: absolute;
  background: #e25576;
  text-transform: uppercase;
  bottom: 0;
  left: 0;
  padding: 7px 20px;
  color: #fff;
}
.thumb_overlay_video {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #fff;
  background: transparent;
}
.thumb_overlay_video:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background: url("../images/thumb_img.png") no-repeat;
  height: 55px;
  width: 55px;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -moz-transition: 0.6s ease all;
  -o-transition: 0.6s ease all;
  -webkit-transition: 0.6s ease all;
  transition: 0.6s ease all;
}
.lt-ie9 .thumb_overlay_video:before {
  display: none;
}
.thumb:hover .thumb_overlay_video {
  opacity: 1;
  background: rgba(34, 36, 49, 0.5);
}
.lt-ie9 .thumb:hover .thumb_overlay_video {
  background: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#80222431', endColorstr='#80222431')";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80222431', endColorstr='#80222431');
  zoom: 1;
}
.lt-ie9 .thumb:hover .thumb_overlay_video:before {
  display: block;
}
.thumb:hover img {
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/*========================================================
                     HEADER  Section
=========================================================*/
header {
  padding-top: 10px;
  text-align: center;
  position: relative;
  background: #1c706e;
}
/*header:before {*/
/*  content: '';*/
/*  position: absolute;*/
/*  margin-right: auto;*/
/*  margin-left: auto;*/
/*  top: 0;*/
/*  left: 0;*/
/*  right: 0;*/
/*  height: 15px;*/
/*  width: 133px;*/
/*  background: #222431;*/
/*}*/

/*========================================================
                     CONTENT  Section
=========================================================*/
main {
  display: block;
}

/*==================      Well     ======================*/
.well {
  padding-top: 145px;
  padding-bottom: 0;
}

.well2 {
  padding-top: 38px;
  padding-bottom: 10px;
}

.well3 {
  padding-top: 347px;
  padding-bottom: 65px;
}

.well4 {
  padding-top: 88px;
  padding-bottom: 55px;
}

.well5 {
  padding-top: 73px;
  padding-bottom: 45px;
}

.well6 {
  padding-top: 48px;
  padding-bottom: 57px;
}

.well7 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.well8 {
  padding-top: 53px;
  padding-bottom: 170px;
}

.well2__ins1 {
  padding-bottom: 57px;
}

.well3__ins1 {
  padding-top: 43px;
}

.well4__ins1 {
  padding-top: 44px;
}

.well5__ins1 {
  padding-bottom: 76px;
}

@media (max-width: 1199px) {
  .well {
    padding-top: 315px;
  }
}
@media (max-width: 911px) {
  .well {
    padding-top: 355px;
  }
}
/*========================================================
                     FOOTER  Styles
=========================================================*/
footer {
  background: #2b2d3c;
  text-transform: uppercase;
  padding-top: 75px;
  padding-bottom: 75px;
}
footer h3 {
  font-weight: 300;
  color: #fff;
}
footer h1, footer .copyright {
  color: #dce8e8;
}
footer ul li a {
  font-family: "Roboto Slab", serif;
  color: #f18d04;
  letter-spacing: 1.4px;
}
footer ul li a:hover {
  color: #fff;
}
footer ul li + li {
  margin-top: 10px;
}
footer .copyright {
  font-family: "Roboto Slab", serif;
  letter-spacing: 2.8px;
  position: relative;
}
footer .copyright a:hover {
  text-decoration: none;
  color: #fff;
}
footer .copyright:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 59px;
  -moz-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  -o-transform: translateY(-50%) rotate(90deg);
  -webkit-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
  height: 2px;
  width: 12px;
  background: #72758a;
}
footer * + ul {
  margin-top: 30px;
}
footer * + img {
  /*margin-top: 85px;*/
}
footer * + h1 {
  margin-top: 10px;
}
footer * + .copyright {
  margin-top: 13px;
}
